@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
body{
    background-color: #1d1d1d;
    overflow-x: hidden;
    
}
.socials:hover{
    fill: #98DABC;
}
#navbar_logo:hover + #navbar_icon{
    fill:#98DABC;
}
#navbar_icon:hover{
    fill:#98DABC;
}
.teamName:checked ~ label {
    color: #C59DF8;
}
.teamNameMobile:checked ~ label {
    color: #C59DF8;
}
.teamSocials:hover{
    fill: #C59DF8;
}